/* h1 {
    color: #BD2C00;
    font-size: 1.2em;
    margin: 0;
}

h2 {
    font-size: 1em;
    margin: 5px 0;
}

.available {
    background-color: #6cc644;
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 7px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);

}

ul {
    background-color: #56B4EF;
    background-image: linear-gradient(top, #56b4ef, #148eda);
    float: left;
    list-style: none;
    margin: 10px 10px 0 0;
    padding: 0;
    width: 230px;
} */

form {
    font-size: 0.8em;
    padding: 10px;
    }

label {
    display: block;
    font-weight: bold;
}

input {
    border: 1px solid #CCC;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 2px 5px;
}
.container {
    height: 300px;
    position: relative;
    width: 200px;
}

.card {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    transition: transform 1s;

}

.card section {
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}

.signup {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
    }
    
    
        

    